header {
    background-color: #bbbbbb;
    padding: 20px 0; 
}
.caixa {
    position: relative;
    width: 940px; /*largura padrão na web*/
    margin: 0 auto; /*auto para a centralização dos elementos serem automáticas em qlqr pag web*/
}

nav {
    position: absolute; /*menu se torna absoluto em relação à caixa envolta dele*/
    top: 110px;
    right: 0px;
}

nav li { /*aumenta o espaçamento no item pq está um ao lado do outro*/
    display: inline;
    margin: 0 0 0 15px; /*topo, direita, baixo, esquerda - aumenta espaçamento(= margem) À esquerda*/
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover { /* mouse em cima dos links dentro do menu de navegacao = mudar a cor*/
    color: #c78c19;
    text-decoration: underline;
}

nav a:active {
    color: brown;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%; /*espaçamento lateral(padding) dentro desse percentual add: box-sizing: border-box*/
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px; /*com box-sizing os pixels do padding passam a ser parte do percentual width*/
    box-sizing: border-box;
    border: 2px solid #000000; /*estilo de borda unificada na ordem: tamanho, estilo e cor*/
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #c78c19;
}

.produtos li:active { /*qnd o elemento está ativo = quando o mouse pressiona o elemento */
    border-color: #088c19;
}

.produtos li:hover h2 { /* qnd o .produtos li tiver com o mouse em cima quero alterar o h2*/
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao {
    font-size: 18px;
}
.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0; /*igual a margem-top: 10px;*/
}

footer {
    text-align: center;
    background: url(./imagens/bg.jpg); /*para add imagem como fundo add url*/
    padding: 40px 0;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 20px 0 0 0;
}

.horario, select {
    margin: 15px 0 15px 0;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.enviar:hover {
    background: darkorange;
    transition: 1s all; /* transicao do background*/
    cursor: pointer; /*muda o cursor pra uma mãozinha*/
    transform: scale(1.1); /*aumenta o item em 20% (1.2) se fosse em 40% seria (1.4)*/
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: solid #000000;
    padding: 8px 15px;
}